<div class='span3'></div>
<div class="span6">
  <div id="myCarousel" class="carousel slide" style='width: auto;'>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("carousel/lobster.jpg", class: "img-rounded") %>
        <div class="carousel-caption">
          <h4>Lobster Corn Dog</h4>
          <p>Lobster tail with Thai basil aioli and watermelon rind pickles</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("carousel/shrimp.jpg", class: "img-rounded") %>
        <div class="carousel-caption">
          <h4>Shiso Shrimp</h4>
          <p>Shiso wrapped shrimp bundles and pickled edamame</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("carousel/oyster.jpg", class: "img-rounded") %>
        <div class="carousel-caption">
          <h4>Oyster Po' Bao</h4>
          <p>Fanny Bay oyster on a steamed bun with pickled carrot and daikon radish and spicy mayo served with vegetable chips.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag("carousel/grilled_cheese.png", class: "img-rounded") %>
        <div class="carousel-caption">
          <h4>Kimchi Grilled Cheese</h4>
          <p>On sourdough bread with bacon, Asian pear, gouda and cheddar cheese served with banana ketchup.</p>
        </div>
      </div>
    </div>

    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<div class='span3'></div>