<div class="row-fluid">
  <%= render 'carousel' %>
</div>

<div class='row-fuild'>
  <div class="span8">
  <p>
    The company was created by a girl + a guy wanting to share their passion of food. We take classic dishes and childhood favorites and give them an unexpected twist. Anything goes at YOLO T.O.
  </p>

  <p>
    We cater private functions and pop up at various food events in the city. Check us out on Twitter or Facebook for upcoming events.
  </p>
  </div>
</div>