<div class='row-fluid'>
  <div class="span12">
    <%= image_tag "yoloto.png", size: "120", id: "brand-logo" %>
  </div>

  <div class="span12" id="redesign-info">
    <h3>Re-designed website coming soon.</h3>
    <h3>
      Check us out at the <%= link_to "Front Street Market", "http://www.torontomarketco.com", target: '_blank' %> at Union Station from July 6 to Aug 30
    </h3>
    <h3>Market Menu in the coming days.</h3>
    <h3 class="yellow-highlight"> For catering inquiries contact us at <%= mail_to "info@yoloto.ca", "info@yoloto.ca", target: "_blank" %></h3>
  </div>
</div>