// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#brand-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#redesign-info {
  text-align: center;
}

.yellow-highlight {
  background-color: yellow;
}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 15px rgba(0,0,0,0.5);
}