<footer>
  <div class="span11">
    <hr />
    <p>&copy; YOLOTO 2014</p>
    <%= render "layouts/facebook" %>
    <%= render "layouts/twitter" %>
    <%= render "layouts/instagram" %>
  </div>
</footer>